<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionais - V4</title>

    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <h1>Condicionais - V4</h1>
    <div id="app">

        <template v-if="logado">
            <p>Usuário logado {{ nome }}</p>
            <p>Pefil: Admin</p>
        </template>

        <p v-else-if="anonimo">Navegando como anônimo</p>
        <p v-else>Nenhum usuário logado</p>

        <button @click="logado = !logado">{{ logado == false ? 'Logar' : 'Sair' }}</button>

        <input type="checkbox" v-model="anonimo">
        <hr>

        <!--Diferentemente da diretiva 'v-if', a dir. 'v-show' não remove o elemento, apenas esconde.-->
        <footer v-show="logado">Desenvolvido para você 2021 !!!</footer>
    </div>
</body>

<script>
    new Vue({
        el: "#app",
        data: {
            nome: 'Maria',
            logado: false,
            anonimo: false
        }
    })
</script>

</html>